<div class="grid-container">
    <div>
        <div class="form">
            <h2 class="text-center">  Confirmation Reject Page</h2>
            <div class="row">
                <div class="form-group col-md-12">
                    <div class="alert alert-warning" role="alert">
                        <strong>Request Rejected Successfully!</strong> Request has been Rejected.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
