<div class="grid-container">
    <div>
        <div class="form">
            <h2 class="text-center">  Confirmation Approver Page</h2>
            <div class="row">
                <div class="form-group col-md-12">
                    <div class="alert alert-success" role="alert">
                        <strong>Request Approved Successfully!</strong> Request has been approved successfully.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
