<div class="grid-container">
    <div>
        <div class="form">
            <h2 class="text-center"> Confirmation Page</h2>
            <div class="row">
                <div class="form-group col-md-12">
                    <div class="alert alert-success" role="alert">
                        <strong>Request Complete!</strong> Request has been process to Staff for the approver.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
