@*<div class="container">
	<p>
		<strong>Payment Reference Id:</strong> @Model.refnumber<br />
		<strong>Payment Amount:</strong> $@Model.chargetotal<br />
		<strong>Payment Date:</strong> @Model.txndate_processed
	</p>
</div>*@
<div class="row justify-content-center">
    <div class="col-lg-9 col-md-10 col-sm-12 text-center p-0 mt-3 mb-2">
        <div class="card shadow mb-4 px-0 pt-4 pb-0 mt-3 mb-3">
            <div class="card-body text-left" style="margin-top:15px;">
                <div class="card-title text-center py-3">
                    <h2 class="font-weight-bold">
                        Confirmation Page
                    </h2>
                </div>
                <div class="row">
                    <div class="form-group col-md-12">
                        <div class="alert alert-success" role="alert">
                            <strong>Request Complete!</strong> Request has been process to Staff for the approver;
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>